DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clinica_odontologica?schema=public"
JWT_SECRET="cambia-este-secreto-super-largo"
JWT_EXPIRES_IN="8h"
JWT_REFRESH_SECRET="cambia-este-refresh-secreto-super-largo"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=4000
FRONTEND_URL="http://localhost:3000"
BCRYPT_SALT_ROUNDS=10
APP_BASE_URL="http://localhost:4000"
WHATSAPP_PROVIDER="MANUAL"
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_FROM="whatsapp:+14155238886"
WHATSAPP_WEB_SESSION_PATH=".wwebjs_auth"
WHATSAPP_WEB_CHROME_PATH=""
WHATSAPP_WEB_AUTO_START="false"
WHATSAPP_DEFAULT_COUNTRY_CODE="502"
REMINDER_CRON_EXPRESSION="*/15 * * * *"
REMINDER_TIMEZONE="America/Guatemala"
